# Build output
bin/
obj/
[Bb]in/
[Oo]bj/

# .NET
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
*.nupkg
*.snupkg
TestResults/
coverage/
coverage.*

# Visual Studio / VS Code
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Rider
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
